details {
    background-color: #f0f0f0;
}

.wrapper {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    padding-right: 10px;
    padding-left:  10px;
}

ul {
    list-style-type: circle;
}

table {
    border: 1px solid gray;
}

/* td {
  text-align: center;
} */

/* table, td, th {
    border: 1px solid gray;
} */