details {
    background-color: #f0f0f0;
}

body {
    background-color:rgb(195, 195, 195);
}



.wrapper {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 0%; */
    max-width: 65%;
    padding-right: 10px;
    padding-left:  10px;
    padding-bottom:5px;
    background-color: white;
}

ul {
    list-style-type: circle;
}

table {
    border: 1px solid gray;
}

/* td {
  text-align: center;
} */

/* table, td, th {
    border: 1px solid gray;
} */